.container {
  padding: 2rem;
  width: 90vw;
  margin: auto;
}
.titleSec {
  position: relative;
  vertical-align: middle;
  padding: 2rem;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
  font-size: 2.2rem;
}
.titleSec strong {
  position: relative;
  z-index: 9;
  background: var(--clr-primary-300);
  padding: 4px 8px;
}

.titleSec::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: var(--clr-alt);
}

.filmsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.horizontal {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-flow: initial !important;
  /* scrollbar-width: none; */
}
